.panel
	h4 Connect with Us
	ul.list-social
		li.list-item-social
			a(href='http://facebook.com/#{facebookHandle}', target='_blank')
				i.fa-social-icon.icon-rotate.fa.fa-facebook
		li.list-item-social
			a(href='http://twitter.com/#{twitterHandle}', target='_blank')
				i.fa.fa-social-icon.icon-rotate.fa-twitter
		li.list-item-social
			a(href='https://www.linkedin.com/in/#{linkedinHandle}/', target='_blank')
				i.fa.fa-social-icon.icon-rotate.fa-linkedin
.panel
	h4 Blog Blurb
	p
		| Lorem ipsum dolor sit amet, id nobis a, enim ultricies, nunc a dolor. Tempor a. Tortor non. Ante ipsum, iaculis praesent, aliquam porttitor.
hr
