.panel
	h4 Connect with Us
	ul.list-social
		li.list-item-social
			a(href='http://facebook.com/#{facebookHandle}', target='_blank')
				i.fa-social-icon.icon-rotate.fa.fa-facebook
		li.list-item-social
			a(href='http://twitter.com/#{twitterHandle}', target='_blank')
				i.fa.fa-social-icon.icon-rotate.fa-twitter
		li.list-item-social
			a(href='https://www.linkedin.com/in/#{linkedinHandle}/', target='_blank')
				i.fa.fa-social-icon.icon-rotate.fa-linkedin
.panel
	h4 Welcome
	p
		| Welcome to the BradyThink website. Take a look around to find out how BradyThink can help you get your JavaScript web application up and running. Check out companion article code from GitHub.  Feel free to send us you suggestions and feedback through our contact page.
hr
