.row
	.col-lg-8
		p.text-center
			| BradyThink template built for
			a(href='http://www.digibrady.com', ,='', target='_blank') Digibrady
			|  by
			a(href='https://twitter.com/digitalbrady', ,='', target='_blank')  @digitalbrady
		p.text-center
			a(href='#') Back to top
	.col-log-4
