.container
	#custom-bootstrap-header-row.row
		.col-md-12
			img.img-responsive.center-block(src='/images/bradythnk-logo.png')
	.row
		.col-md-12
			// Navigation
			nav.navbar.navbar-default(role='navigation')
				.navbar-header
					button.navbar-toggle(type='button', data-target='#navbarCollapse', data-toggle='collapse')
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar

				#navbarCollapse.collapse.navbar-collapse
					ul.nav.navbar-nav
						li(class=(post && post.category == 'Home' ? 'active' : ''))
							a(href='/') Home
						li(class=(post && post.category == 'nodejs' ? 'active' : ''))
								a(href='/nodejs') Node.js
						li.dropdown(class=(post && (post.category == 'About' ||
							post.category == 'Privacy' || post.category == 'Terms')? 'active' : ''))
								a.dropdown-toggle(href='#', data-toggle='dropdown')
									| About
									b.caret
								ul.dropdown-menu
									li(class=(post && post.category == 'About'? 'active' : ''))
										a(href='/about') About BradyThink
									li(class=( post && post.category == 'Privacy' ? 'active' : ''))
										a(href='/privacy-policy') Privacy Policy
									li(class=(post && post.category == 'Terms' ? 'active' : ''))
										a(href='/terms-conditions') Terms and Conditions
						li(class=(post && post.category == 'Contact' ? 'active' : ''))
							a(href='/contact') Contact
						if adminEnabled
								li.dropdown
									a.dropdown-toggle(href='#', data-toggle='dropdown', role='button',
									aria-haspopup='true', aria-expanded='false')
										| Admin
										span.caret
									ul.dropdown-menu
										if !user
											li
												a(href='/users/register') Register
											li(class=(title == 'Login' ? 'active' : ''))
												a(href='/users/login') Login
										if user
											li
												a(href='/posts/addPost') Add Post
											li
												a(href='/users/logout') Log Out


