extends layout-post

block content
	.panel
		h1.page-header
			| About BradyThink
		hr
		img.img-responsive.pull-left(src='/images/uploads/BradyThink-Bob-Brady-Image.png', alt='BradyThink Bob Brady Image' style='padding-right: 10px;padding-bottom: 10px;')
		p
			| My name is Bob Brady.  I’m a full stack software engineer.  This means I have a broad skill set and am able to write about a variety of topics ranging from the operating system that is hosting your website to how to tweak your style sheets.
		p
			| I have over 15 years of experience building web applications.  I’m a Linux expert, having the coveted Red Hat Certified Engineer and CompTIA Linux+ certifications.  I write commercial Node JavaScript web applications that run in the Amazon Cloud.  My expertise in Java is also verified with a Oracle Certified Professional Java SE 7 certificate.  All of my skills are brought to bear on the pages here to help inform you about JavaScript web applications.
			img.img-responsive(src='/images/uploads/Full-Stack-Engineer-BradyThink-Bob-Brady.png', alt='BradyThink Bob Brady Full Stack')
		hr

