extends layout

block content
	h1 Add Post
	p Please register with the form below
	form(method='post', action='/posts', enctype='multipart/form-data')
		.form-group
			label Title
			.row
				.col-sm-9
					input.form-control(name='title', type='text', placeholder='Enter Blog TItle',required)
		.form-group
			label Category
			.row
				.col-sm-5
					select.form-control(name='category', required)
						option(value='' selected disabled) Select Category
						each category, i in categories
							option(value='#{category.name}') #{category.name}
		.form-group
			label Category Home Page
			.radio
				label
					input(type="radio", name="categoryHome", value="false", checked)
					| No
			.radio
				label
					input(type="radio", name="categoryHome", value="true")
					| Yes
		.form-group
			label Content
			textarea.form-control(id='content', name='content', required)
		.form-group
			label Cover Image
			input.form-control(name='coverImage', type='file')
		input.btn.btn-default(name='submit', type='submit', value='Add')
		script(src='/ckeditor/ckeditor.js')
		script
			| CKEDITOR.replace('content');
