extends layout

block content
	h2 Send a Message
	p
		| Required fields are marked with an asterisk
		span.required *
	#contact-messages
	form#contact-form.form(role='form', action='/contact', method='post', autocomplete='off')
		.form-group
			label(for='contactName')
				| Your Name
				span.required  *
			input#contactName.form-control(type='text', name='contactName', placeholder='Enter Name', required)
		.form-group
			label(for='contactEmail')
				| Your Email
				span.required  *
			input#contactEmail.form-control(type='email', name='contactEmail', placeholder='Enter Email', required)
		.form-group
			label(for='contactMessage')
				| Message
				span.required  *
			textarea#contactMessage.form-control(name='contactMessage', rows='5', required='')
		#g-recpatcha.g-recaptcha(data-sitekey='6LdOGhQTAAAAANGibkeOZeQQUWVly-ehYSgfdmGW')
		input#submit.btn.btn-primary.pull-right(type='submit', name='submit', value='Send')
	script(src='https://www.google.com/recaptcha/api.js')

