extends layout

block metahead
	include ./includes/meta-head.jade

block content
	.panel
		h1.page-header
			| Page Header
			small
				| Secondary Text
		// First Blog Post
		h2
			a(href='#') Blog Post Title
		p.lead
			| by
			a(href='#') Simple Blog Engine
		p
			span.glyphicon.glyphicon-time
			|  Posted on November 20, 2015 at 21:23:00 EST
		hr
		img.img-responsive(src='http://placehold.it/900x300', alt='')
		hr
		p
			| Lorem ipsum dolor sit amet, molestie nihil nec justo elit, curabitur lorem massa ante lobortis id dolor, arcu accumsan ipsum, risus fermentum. Dolor mauris hymenaeos nibh lectus enim duis, pellentesque proin malesuada quam augue venenatis massa, per in, urna viverra varius. Pede ipsum non enim risus magna a, lectus ut praesent tincidunt sapien dis pharetra, sollicitudin mollis lectus odio lectus, erat fringilla hymenaeos, rutrum wisi sem ut cum wisi. Adipiscing non in mi quam, vehicula vestibulum vitae amet, arcu nullam non sit sagittis. Justo ut vestibulum faucibus pellentesque urna, iaculis nulla, et sociis in rutrum, mauris sollicitudin nunc vel ut nonummy, accumsan pellentesque. Magna quis lectus morbi aliquam pede orci. Facilisis ac vitae. Ac mollis fermentum fusce, consectetuer sagittis et justo et at, risus fringilla. Vel nec semper nibh at. Pulvinar nibh habitant nunc posuere mauris, senectus est in et, praesent ut sed sociis etiam sit, fringilla fusce. Amet posuere dui vehicula lectus, vel leo consectetuer commodo neque vehicula.
		a.btn.btn-primary(href='#')
			| Read More
			span.glyphicon.glyphicon-chevron-right
		hr

