extends layout-post

block content
	.panel
		h1.page-header
			| BradyThink Home
		hr
		img.img-responsive(src='/images/uploads/bradythink-home-screenshot.png', alt='BradyThink Home Screenshot Image')
		hr
		p
			| The goal of the BradyThink blog is to inform you about the technology needed to build and run JavaScript web applications. Articles will take the form of step-by-step tutorials with code excerpts, comparisons of software  modules, or general informational posts, to name a few examples.  Articles with code examples will have corresponding publicly available GitHub repositories that can be checked-out and run by you.

		p
			| A sample of some of the BradyThink article topics would include:
		ul
			li
				| Node.js Express Tutorial: How to bootstrap an MVC design pattern web app in minutes
			li
				| Affordably host your JavaScript web app in the Amazon Cloud
			li
				| Rapid CSS design with the Stylus prepocessor
			li
				| Create clean, extensible views with Jade templates
			li
				| Handling asynchronous JavaScript with the async module
		hr

