body {
  background-color: #e8e8e8;
}
a,
a:hover,
a:focus {
  color: #b90504;
  text-decoration: none;
}
#custom-bootstrap-header-row.row {
  background-color: #f6f6f6;
  margin: 0;
}
#custom-bootstrap-menu.navbar-default .navbar-nav {
  width: 100%;
  text-align: center;
}
#custom-bootstrap-menu.navbar-default .navbar-nav > li {
  float: none;
  display: inline-block;
}
#custom-bootstrap-menu.navbar-default .navbar-nav > li > a {
  color: #333;
}
#custom-bootstrap-menu.navbar-default .navbar-nav > li > a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav > li > a:focus {
  color: #b90504;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover {
  color: #b90504;
  background-color: #f6f6f6;
}
.panel {
  padding: 0 25px 10px;
  background-color: #f6f6f6;
}
hr {
  border: none;
  height: 2px;
  background-color: #e8e8e8; /* Modern Browsers */
}
.list-social {
  margin-top: 10px;
  padding: 0;
  overflow: auto;
}
.list-item-social {
  list-style-type: none;
  float: left;
}
.fa-social-icon {
  background: #205d7a;
  color: #fff;
  width: 35px;
  height: 35px;
  border-radius: 20px;
  font-size: 23px;
  text-align: center;
  margin-right: 15px;
  padding-top: 15%;
  transition: all 0.2s ease-in-out;
}
.fa-social-icon:hover {
  opacity: 0.8;
}
.fa-facebook {
  background: #3b5998;
}
.fa-linkedin {
  background: #007bb5;
}
.fa-twitter {
  background: #00aced;
}
.fa-google-plus {
  background: #dd4b39;
}
